<div class="column-one-section">
    <div class="row" id="first-column-wrapper">
        <div class="flex">
            <div class="rectangle" (click)="toggle()">
                <div class="addEffect">
                    <span class="material-icons" style="padding-left: 26px;">
            add
          </span>
                    <span class="flex-text-size">ADD EFFECT</span></div>
            </div>
            <div class="arrow"></div>
            <div class="arrowIcon"></div>
        </div>


        <div class="flex margin-top">
            <div class="rectangle">
                <div class="addEffect">
                    <span class="material-icons material-icons-padding">
            add_circle
          </span>
                    <span class="flex-text-size">ADD INTERLOGIC</span></div>
            </div>

            <div class="arrow"></div>
            <div class="arrowIcon"></div>
        </div>

        <div class="flex margin-top">
            <div class="rectangle">
                <div class="addEffect">
                    <span class="material-icons material-icons-padding">
            add
          </span>
                    <span class="flex-text-size">ADD CAUSE</span></div>
            </div>
        </div>
    </div>

    <app-column-two *ngIf="show" (childData)="saveEffectsTrips($event)" ></app-column-two>



    <div class="row" *ngFor="let interLogicObj of listOfInterLogic" style="margin-right: 45px;">
        <div class="flex">
            <div class="rectangle">
                <div class="addEffect addEffect-style">
                    <div class="addEffect-Name "> {{interLogicObj.effectName}}
                        <span class="material-icons" style="font-size: 18px;">
              edit
            </span>


                    </div>

                    <div class="addEffect-description">
                        {{interLogicObj.effectDescription}}
                    </div>
                    <div class="addEffect-type-wrapper">
                        <div class="addEffect-type">
                            {{interLogicObj.effectType}}
                        </div>


                        <div>{{interLogicObj.effectResetLi}}</div>

                    </div>

                </div>

            </div>
            <div class="arrow"></div>
            <div class="arrowIcon"></div>
        </div>


        <div class="flex margin-top">
            <div class="rectangle">
                <div class="addEffect addEffect-style">
                    <div *ngFor="let logic of interLogicObj.logics; let i = index">
                        <div style="    margin: 7px 15px 10px 15px;">
                            <div>Interlock Logic {{i + 1}}</div>
                            <div class="addEffect-logic">{{logic}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="arrow"></div>
            <div class="arrowIcon"></div>
        </div>

        <div class="flex margin-top">
            <div class="rectangle">
                <div class="addEffect addEffect-style">
                    <div class="interlogic-name">
                        {{interLogicObj.tripPointProperties.effectName}}

                    </div>

                    <div class="interlogic-description"> {{interLogicObj.tripPointProperties.effectDescription}}</div>

                    <div class="interlogic-type-wrapper">
                        <div class="interlogic-type-text"> {{interLogicObj.tripPointProperties.effectType}} </div>

                    </div>
                </div>
            </div>
        </div>
    </div>