.service-section{
    margin-top:10px;
}
  
  .serach-wrapper {
    display:inline-block;
    position: relative
}
.serach-wrapper:after {
    font-family: 'FontAwesome';
    content: '\f002';
    position: absolute;
    right: 6px;
}
.service-list{
    margin-top:10px;
}
.service-list-item{
    list-style-type:none;
    font-size:20px;
}